RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
# Si es un archivo fisico, dejarlo pasar.
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

Options -indexes